{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    // Движку нужен проект TS для правил с типами
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": ["prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "prettier/prettier": "error",
    "indent": ["error", 4]
  }
}
